{% load card_helpers %}

<a class="card -media" href="{% url 'text_detail' id=item.id %}">

  <div class="cardTitle">{{item.title}}</div>

  <div class="cardTextShort">{{item.description | parse_item_desc}}</div>
  {% if item.files.all|length %}

    {% if 'gif' in item.files.first.mime_type %}
      <div class="cardMedia">
        <img src="{{item.files.first.filepath.url}}" alt="{{item.files.first.title}}"/>
      </div>
    {% elif 'jpg' in item.files.first.mime_type %}
      <div class="cardMedia">
        <img src="//iiif.orphe.us/{{item.files.first.filepath.name}}/full/full/0/default.jpg" alt="{{item.files.first.title}}"/>
      </div>
    {% elif 'video' in item.files.first.mime_type %}
      <div class="cardMedia cardMediaAV cardMediaVideo">
        <video src="https://s3.amazonaws.com/iiif-orpheus/{{item.files.first.filepath.name}}" controls="controls" width="560px" height="320px"><video/>
      </div>
    {% elif 'audio' in item.files.first.mime_type %}
      <div class="cardMedia cardMediaAV cardMediaAudio">
        <audio src="https://s3.amazonaws.com/iiif-orpheus/{{item.files.first.filepath.name}}" controls="controls" width="560px" height="54px"><audio/>
      </div>
    {% elif 'pdf' in item.files.first.mime_type %}
      <div class="cardMedia cardMediaAV cardMediaPDF">
        <embed
          src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://s3.amazonaws.com/iiif-orpheus/{{item.files.first.filepath.name}}"
          style="width: 100%; height: 300px;"
        />

      </div>
    {% else %}
      <div class="cardMedia">
        <img src="//iiif.orphe.us/{{item.files.first.filepath.name}}/full/full/0/default.jpg" alt="{{item.files.first.title}}"/>
      </div>
    {% endif %}

  {% endif %}

  {% if item.metadata.all|length %}
    <div class="cardMetas">
      {% for meta_field in item.metadata.all %}

        {% if meta_field.metatype|in_list:'text,number'  and meta_field.value|length and not meta_field.label|in_list:'Transcription,ID,Id,id,TranscriptionTrimmed' %}
          <div class="cardMeta">
            <div class="cardMetaLabel">{{meta_field.label}}</div>
            <div class="cardMetaValue">{{meta_field.value}}</div>
          </div>
        {% endif %}

      {% endfor %}
    </div>
  {% endif %}

</a>
