
<p class="MuiTypography-root-26 MuiTypography-body1-35 MuiTypography-gutterBottom-53 archiveDescription shortDescription">
  {% autoescape off %}
    {{description|truncatewords_html:30}}
  {% endautoescape %}
  <br>
{% if description|length > 240 %} <button class="toggleDescriptionButton">Read more</button> {% endif %}
</p>

<p class="MuiTypography-root-26 MuiTypography-body1-35 MuiTypography-gutterBottom-53 archiveDescription longDescription">
  {{description|striptags}}
  <br>
</p>
