<section class="footer">
    <div class="sticky-reactnode-boundary"></div>
    <div class="footerCopyright">
      ©
      {% if project %}
        {{project.title}}
      {% else %}
        Open Commentary Platform
      {% endif %}
      {% now 'Y'%}
    </div>
    <div class="footerLinks">
        <ul>
            {% if not project %}
              <li>
                Created by&nbsp;<a href="https://chs.harvard.edu" target="_blank" rel="noopener noreferrer">The Center for Hellenic Studies</a>
              </li>
            {% endif %}
            <li><a href="https://gdpr.harvard.edu/eeaprivacydisclosures">Terms of use</a></li>
            <li><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Digital Accessibility</a></li>
        </ul>
    </div>
</section>
