<div class="headerMenu" role="tooltip">
  <div class="jss88 jss92 jss89" id="menu-list-grow" style="opacity: 1; transform: scale(1, 1) translateZ(0px); transform-origin: center top; transition: opacity 253ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 168ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;">
    <ul class="jss115 jss116 headerExternalSecondaryNav" role="menu">
      {% if user.is_authenticated %}
        <li tabindex="0">
          <a class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="/dashboard">
            Dashboard
          </a>
        </li>
        <li tabindex="0">
          <a class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="{% url 'profile' %}">
            Profile
          </a>
        </li>
        <hr></hr>
        <li tabindex="-1">
          <a href="#" class="helpButton jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem">
            Help
          </a>
        </li>
        <li tabindex="-1">
          <a href="{% url 'logout' %}" class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem">
            Logout {{ user }}
          </a>
        </li>
      {% else %}
        <li tabindex="0">
          <a class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="{% url 'login' %}">
            Log in
          </a>
        </li>
        <li tabindex="0">
          <a class="jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem" href="{% url 'sign_up' %}">
            Sign Up
          </a>
        </li>
        <li tabindex="-1">
          <a href="#" class="helpButton jss7 jss122 jss125 jss130 jss131 jss119 jss120" tabindex="-1" role="menuitem">
            Help
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
