{% load humanize %}

<div class="list-info">
  <div class="list-info-title">
    {% if list_title %}
      <h3>{{list_title}}</h3>
    {% endif %}

    {% if list_label %}
      <label>
        {% if total_count %}
          {{total_count}}
        {% else %}
          {{items|length|intcomma}}
        {% endif %}
        {{list_label}}
      </label>
    {% endif %}
  </div>

  {% if more_link %}
    <a class="horizontalListButton" href="{{more_link}}{% if querystring %}?{{querystring}}{% endif %}">
      {{view_all_link_text|default:"View All"}}
    </a>
  {% endif %}

  {% if toggle_list_grid %}
    <button class="horizontalListButton">
      Show All
    </button>
  {% endif %}
</div>
