{% load qs_helper %}
{% if pagination.has_other_pages %}
    <nav class="pagination-block">
        <ul class="pagination">

            {# First #}
            {% if pagination.number != 1 %}
                <li class="first btn">
                    <a href="?{% url_replace request 'page' 1 %}">
                      <i class="mdi mdi-chevron-double-left"></i>
                      First
                    </a>
                </li>
            {% else %}
                <li class="first btn disabled">
                    <button disabled>
                      <i class="mdi mdi-chevron-double-left"></i>
                      First
                    </button>
                </li>
            {% endif %}

            {# Previous #}
            {% if pagination.has_previous %}
                <li class="prev btn">
                    <a href="?{% url_replace request 'page' pagination.previous_page_number %}">
                      <i class="mdi mdi-chevron-left"></i>
                      Previous
                    </a>
                </li>
            {% else %}
                <li class="prev btn disabled">
                    <button disabled>
                      <i class="mdi mdi-chevron-left"></i>
                      Previous
                    </button>
                </li>
            {% endif %}

            {# Pages #}
            {% for i in pagination.paginator.page_range %}
                {% if pagination.number == i %}
                    <li>
                        <span class="{{ page.class }}">{{i}}</span>
                    </li>
                {% elif i <= pagination.number|add:9 and i >= pagination.number|add:-9 %}
                    <li>
                        <a href="?{% url_replace request 'page' i %}" class="{{ page.class }}">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if pagination.has_next %}
                <li class="next btn">
                    <a href="?{% url_replace request 'page' pagination.next_page_number %}">
                      Next
                      <i class="mdi mdi-chevron-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="next btn disabled">
                    <button disabled>
                      Next
                      <i class="mdi mdi-chevron-right"></i>
                    </button>
                </li>
            {% endif %}

            {# Last #} 
            {% if pagination.number != pagination.paginator.num_pages %}
                <li class="last btn">
                    <a href="?{% url_replace request 'page' pagination.paginator.num_pages %}">
                      Last ({{ pagination.paginator.num_pages }})
                      <i class="mdi mdi-chevron-double-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="last btn disabled">
                    <button disabled>
                      Last ({{ pagination.paginator.num_pages }})
                      <i class="mdi mdi-chevron-double-right"></i>
                    </button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
