.archive.-404 {
  width: 100vw;
  overflow: hidden;

}

.notFoundImages {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 6em;
  height: 26rem;
  overflow: hidden;
}

.notFoundImages .left {
  width: 22vw;
  opacity: 0.1;
  position: absolute;
  top: 9rem;
  left: 6rem;
}

.notFoundImages .middle {
  width: 33vw;
  position: relative;
  z-index: 99;
  position: absolute;
  top: 9rem;
  filter: brightness(1.1) grayscale(1);
}

.notFoundImages .right {
  height: 40rem;
  opacity: 0.05;
  position: absolute;
  top: -3rem;
  right: 3rem;
}

.notFoundText {
  text-align: center;
  padding: 3em 6em 6rem;
  background: #fdfdfd;
  position: relative;
  border-top:1px solid #eee;

}

.notFoundTextInner {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

.notFoundText h1 {
  font-size: 42px;
  margin: 2rem auto;
}

.notFoundText .subtitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #666;
}

.notFoundText .wave {
  width: 4rem;
  opacity: 0.1;
  margin: 1rem auto;
}

.notFoundText hr {
  width: 4rem;
  height: 4px;
  background: #eee;
  margin: 3rem auto 1rem;
}

.notFoundText p {
  margin: 3rem auto;
  font-family: "Cardo", serif;
  font-size: 26px;
  line-height: 1.6em;
}

.notFound {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.notFound .cover {
  height: 100vh;
  width: 100vw;
}
