{% extends "base.twig" %}

{% block content %}
	{% include "partials/header.twig" with header_theme='light' %}
  <div class="archive -404">
    <div class="notFoundImages">
      <img class="illustration middle" src="/static/img/illustration_heroes.png"/>
      <img class="illustration right" src="/static/img/illustration_lighthouse.png"/>
    </div>
    <div class="notFoundText">
      <div class="notFoundTextInner">
        <h1>
          αἶ, αἶ, hero!
        </h1>
        <h2 class="subtitle">
          You have lost your way.
        </h2>
        <hr></hr>
        <p>
          Invoke a <a href="mailto:outreach@chs.harvard.edu">website muse</a> to steer you back on course or make your own odyssey
          <a href="/">back to the homepage</a>.
        </p>
      </div>
    </div>
  </div>

	{% include "partials/footer.twig" %}
{% endblock %}
