{% if project.title %}
<section class="archiveContactSection">
    <div class="archiveContact">
        <div class="archiveContactMapOuter">
            <div class="br mh300 mw100 mapInput mapboxgl-map" id="map">
            </div>
              <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoibHVrZWhvbGxpcyIsImEiOiJ6Rk1vdjc0In0.jQDtXA8wqU_wYi5p1ClCyw';
              var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/lukehollis/cj7dnh4fb11452smw1dj34x04',
                scrollZoom: false,
                boxZoom: false,
                center: [-77.0636855,38.9173157],
                zoom: 11,
              });
              </script>
        </div>
        <div class="archiveContactDetails">
              <h4 class="jss26 jss41">{{project.title}}</h4>
            {% if project.email %}
              <span class="jss26 jss36 archiveContactDetailsLabel">Email</span>
              <p class="jss26 jss35"><a href="mailto:{{project.email}}">{{project.email}}</a></p>
            {% endif %}
            {% if project.address %}
              <span class="jss26 jss36 archiveContactDetailsLabel">Address</span>
              <p class="jss26 jss35">{{project.address}}</p>
            {% endif %}
            {% if project.external_url %}
              <span class="jss26 jss36 archiveContactDetailsLabel">Also see</span>
              <p class="jss26 jss35">
                <a href="{{project.external_url}}">{{project.external_url}}</a>
              </p>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
