<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#000000">
    <script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@archimedigital">
    <meta property="og:url" content="https://newalexandria.info/">
    <meta property="og:site_name" content="Open Commentary Platform — Open andAccessible Digital Philology for the Information Age">
    <meta property="og:image" content="https://images/social.jpg">
    <meta property="og:image:alt" content="Open and collaborative digital editions, commentaries, and translations for pre-medieval works in 14 languages">
    <meta property="og:image:width" content="2880">
    <meta property="og:image:height" content="1586">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans:400,700|Cardo:300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/0ef5ab75-d8cf-4163-adb0-e5b6134ae69b.css"/>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" type="text/css" media="screen" />

    <title>Open Commentary Platform | Open andAccessible Digital Philology for the Information Age</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36250260-22"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-36250260-22');
    </script>

    <script async defer="defer" src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>

    {% load static %}

    <link rel="manifest" href="{% static 'asset-manifest.json' %}" crossorigin="use-credentials">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="{% static 'css/orpheus.css' %}">
    <link rel="stylesheet" href="{% static 'css/alexandria.css' %}">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    {% if project.canonical_domain is not None %}
      <link rel="canonical" href="{{project.canonical_domain}}{{request.get_full_path}}">
    {% else %}
      <link rel="canonical" href="{{request.build_absolute_uri}}">
    {% endif %}


    {% if SSR_CSS is not None %}
        <style id="mui-server-side-jss" type="text/css">
            {{ SSR_CSS }}
        </style>
    {% endif %}
</head>

<body class="{{body_class}} -alexandria">
    <noscript class="noJavascriptMessage">
        <style>
            body,
            html {
                margin: 0;
                padding: 0
            }

            .noJavascriptMessage {
                align-items: center;
                display: flex;
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Liberation Sans", Noto, sans-serif;
                justify-content: center;
                margin: 0;
                min-height: 100vh;
                padding: 0
            }

            .noJavascriptMessage>div {
                max-width: 500px;
                padding: 20px;
                text-align: center
            }

            .noJavascriptMessage svg {
                height: 100px;
                margin-bottom: 40px
            }
        </style>
        <div>
            <svg width="150px" height="146px" viewBox="0 0 150 146" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M75.016497,145.4 C31.816497,145.4 0.816497,113.2 0.816497,73.4 L0.816497,73 C0.816497,33.2 32.216497,0.6 75.416497,0.6 C118.616497,0.6 149.616497,32.8 149.616497,72.6 L149.616497,73 C149.616497,112.8 118.216497,145.4 75.016497,145.4 Z M75.416497,117 C100.216497,117 117.416497,97.4 117.416497,73.4 L117.416497,73 C117.416497,49 99.816497,29 75.016497,29 C50.216497,29 33.016497,48.6 33.016497,72.6 L33.016497,73 C33.016497,97 50.616497,117 75.416497,117 Z" id="O" fill="#000000"></path>
            </svg>
            <p>Enable JavaScript and refresh the page to view Alexandria.</p>
            <p><a href="https://www.enable-javascript.com/" target="_blank">See how to enable JavaScript in your browser.</a></p>
        </div>
    </noscript>

    <!-- NB: (charles) Since a React component relies on global Headroom, we need to load it before loading the rest of the app -->
    <script async defer="defer" src="{% static 'js/headroom.js' %}" type="text/javascript"></script>
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script async defer="defer" src="{% static 'js/site.js' %}" type="text/javascript"></script>
</body>
</html>
