{% extends "base.twig" %}

{% block content %}
{% include "partials/header.twig" %}
<div class="archive alexandriaComingSoon">
    <div class="cover -is-archive-cover -comingSoonCover">
        <div class="coverBackground" style="background-image: url(&quot;//iiif.orphe.us/mss_2.jpg/full/full/0/default.jpg&quot;);"></div>
        <div class="coverBackgroundGradient"></div>
        <div class="coverContent">
          <h3 class="MuiTypography-root-19 MuiTypography-h3-33 MuiTypography-gutterBottom-46 archiveTitle">Open and Accessible Philology for our generation</h3>
          <h6 class="MuiTypography-root-19 MuiTypography-subtitle1-37 MuiTypography-gutterBottom-46 archiveSubtitle">Collaborative digital editions, commentaries, and translations for pre-medieval works in 14 languages</h6>

          <hr ></hr>

          <p class="MuiTypography-root-19 MuiTypography-body1-28 MuiTypography-gutterBottom-46 archiveDescription shortDescription">
            To learn more about the Open Commentary Platform project or apply to publish your digital edition, commentary, or translation, drop us a line.
          </p>
          <a class="alexandriaButton" href="https://forms.gle/EVB1BdTp6J9htcgX6">Contact us</a>
        </div>
    </div>
{% include "partials/footer.twig" %}
{% endblock %}
