{% extends "base.twig" %}
{% load humanize %}

{% block content %}
{% include "partials/header.twig" %}
<div class="archive">
    <div class="cover -is-archive-cover">
        {% if project.background_image %}
          <div class="coverBackground" style="background-image: url(&quot;{{aws_url}}{{project.background_image}}&quot;);"></div>
        {% else %}
          <div class="coverBackground" style="background-image: url(&quot;//iiif.orphe.us/mss_2.jpg/full/full/0/default.jpg&quot;);"></div>
        {% endif %}
        <div class="coverBackgroundGradient"></div>
    </div>
    <section class="archive-info">
        <!--h5>Commentaries /</h5-->
        <h1 class="MuiTypography-root-26 MuiTypography-h3-40 MuiTypography-gutterBottom-53 archiveTitle">{{project.title}}</h1>
        <!--div class="commentaryImage"><img src="//iiif.orphe.us/ajax_achilles_3.jpg/full/full/0/default.jpg"></div-->
        <div class="commentaryByline">
            <span>By
            {% for commenter in project_commenters %}
                <a href="/commenters/{{commenter.username}}">
                {{ commenter.first_name }} {{ commenter.last_name }}{% if commenter.first_name == "Corinne" or commenter.last_name == "Walsh" %} †{% endif %}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="commentaryLinks">
            <a href="{% url 'read' urn=read_urn %}">{{ project_comments|length|intcomma }} Comments</a>
        </div>
        {% if project.subtitle %}
          {% include 'partials/description_read_more.twig' with description=project.subtitle %}
        {% endif %}
        <a class="alexandriaButton" tabindex="0" role="button" href="{% url 'read' urn=read_urn %}">
          Read the Commentary
        </a>
        </section>
    <section>

      <div class="horizontalList -homepageHorizontalList">
        {% include 'partials/list_info.twig' with items=project_texts list_label=" Texts" more_link="/texts" %}
        <div class="horizontalListItems">
          {% for text in project_texts %}
            {% if text.text_group_urn %}
              <div class="CollectionCard horizontalListItem">
                <a href="{% url 'read' urn=text.default_text.full_urn %}">
                  <div class="CollectionThumbnail" style="background-image: url(&quot;{{ text.image_url }}&quot;);"></div>
                  <div class="CollectionCardInner">
                    <p class="MuiTypography-root-26 MuiTypography-body1-35 CollectionCardTitle">{{text.english_title}}</p>
                    <span class="MuiTypography-root-26 MuiTypography-caption-36 CollectionCardDescription">{{text.byline}}</span>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    <!--section>
        <div class="archiveFeatureBlock">
            <div class="archiveFeatureBlockInner">
                <a href="/thinking-comparatively-about-greek-mythology-x-a-homeric-lens-for-viewing-herakles/" class="archiveFeatureBlockContent" style="background-image: url(&quot;//iiif-orpheus.s3.amazonaws.com/sirens.jpg&quot;);">
                    <div class="archiveFeatureGradient"></div>
                    <div class="archiveFeatureBlockTextContent">
                        <div class="archiveFeatureBlockUpper">
                            <label class="archiveFeatureBlockLead">Featured Post</label>
                            <h3>Thinking comparatively about Greek mythology X, A Homeric lens for viewing Hēraklēs</h3><span class="archiveFeatureBlockSubtitle">Gregory Nagy</span></div>
                        <div class="archiveFeatureBlockLower"><span class="archiveFeatureBlockIntro">This essay, for which I give the abbreviated title TC X, connects in a special way with nine previous essays posted in Classical Inquiries...</span></div>
                    </div>
                </a>
            </div>
        </div>
    </section-->
    {% if project.homepage_quote %}
    <section>
        <div class="blockQuote">
          <blockquote>{{project.homepage_quote}}</blockquote>
          <span class="blockQuoteAuthor">- {{project.homepage_quote_byline}}</span>
        </div>
    </section>
    {% endif %}
    <section>
      <div class="horizontalList -homepageHorizontalList">
        {% include 'partials/list_info.twig' with list_title="Commenters" items=project_commenters list_label=" Commenters" %}
        <div class="horizontalListItems">
          <div class="horizontalListItems userListItems">
            {% for commenter in project_commenters %}
              <div class="CollectionCard horizontalListItem">
                <a href="/commenters/{{commenter.username}}">
                  <div class="CollectionThumbnail" style="background-image: url(&quot;{{aws_url}}{{commenter.picture}}&quot;);"></div>
                  <div class="CollectionCardInner">
                    <p class="MuiTypography-root-26 MuiTypography-body1-35 CollectionCardTitle">{{commenter.first_name}} {{commenter.last_name}}</p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
</div>
{% include "partials/footer.twig" %}
{% endblock %}
