{% extends "base.twig" %}

{% block content %}
{% include "partials/header.twig" with header_theme='light' %}
<div class="authLayout">
  <div class="archive">
    <strong>You don't have permission to access the dashboard of this commentary.</strong><br />
  </div>
</div>
{% include "partials/footer.twig" %}
{% endblock %}
