{% if attachments %}
  <section>
      <h2 class="jss26 jss39 archiveSectionTitle">Gallery</h2>
      <div class="ItemThumbnailListContainer">
          <div class="list-info"><span class="jss26 jss46 itemsCountTitle">{{attachments|length}} items published in the collection archive</span><a class="jss7 jss62 jss64 jss65 jss67 jss68 viewAllButton" tabindex="0" role="button" href="/search"><span class="jss63">View all</span><span class="jss19"></span></a></div>
          <div class="image-wrapper">
  					{% for attachment in attachments %}
              <a href="{{attachment.link}}">
  							<img src="{{attachment.src}}" alt="{{attachment.alt}}">
  						</a>
  					{% endfor %}
          </di>
      </div>
  </section>
{% endif %}
