{% extends "base.twig" %}
{% load render_bundle from webpack_loader %}

{% block content %}
 	{% if include_header_and_footer %}
    	{% include "partials/header.twig" %}
  	{% endif %}

	<script>
		window.SSR_VIEW = true;
		window.USER_IS_ADMIN = {{ USER_IS_ADMIN }};
		window.USER_IS_EDITOR = {{ USER_IS_EDITOR }};
		window.USER_IS_COMMENTER = {{ USER_IS_COMMENTER }};
		window.USER_IS_LOGGED_IN = {{ USER_IS_LOGGED_IN }};
	</script>
	{{ project_json | json_script:"project" }}
	{{ collection_json | json_script:"collection" }}

	{{ REACT_APP | safe }}

 	{% render_bundle 'runtime~main' %}
	{% render_bundle 'main' %}

  	{% include "partials/pagination_react.twig" %}
  	{% if include_header_and_footer %}
    	{% include "partials/footer.twig" %}
  	{% endif %}
{% endblock %}
