{% extends "base.twig" %}
{% load render_bundle from webpack_loader %}

{% block content %}
{% if include_header_and_footer %}
{% include "partials/header.twig" %}
{% endif %}
  {# commentaries faceted card react component #}
  {# see https://github.com/dhmit/rereading/blob/master/backend/templates/index.html #}
  <div id="root"></div>
  {{ project_json|json_script:"project" }}
  {{ collection_json|json_script:"collection" }}
  {{ commentaries_json|json_script:"commentaries_data" }}
  {% render_bundle 'main' %}
  <script>
      const ReactDOM = window.app_modules.ReactDOM;
      const React = window.app_modules.React;
      const {{ component_name }} = window.app_modules.{{ component_name }};

      window.USER_IS_ADMIN = {{ USER_IS_ADMIN }};
      window.USER_IS_EDITOR = {{ USER_IS_EDITOR }};
      window.USER_IS_COMMENTER = {{ USER_IS_COMMENTER }};
      window.USER_IS_LOGGED_IN = {{ USER_IS_LOGGED_IN }};

      ReactDOM.render(
          React.createElement({{ component_name }}),
          document.getElementById('root')
      );
  </script>
{% include "partials/pagination_react.twig" %}
{% if include_header_and_footer %}
{% include "partials/footer.twig" %}
{% endif %}
{% endblock %}
