{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" %}

  <div class="archive search">
    {% if model == "all" %}
      <h1>{{total_count}} results for "{{search_term}}"</h1>
      <section class="results">
        <div class="horizontalList -tagList">
          <div class="horizontalListItems">
            {% for tag in tag_results %}
              <a href="/tags/{{tag.id}}/{{tag.name|slugify}}" class="horizontalListItem -tagItem">
                <div class="tagItemBackgroundImage" style="background-image: url('{{aws_url}}{{tag.image}}');">
                </div>
                <div class="tagItemGradient">
                </div>
                <div class="tagItemText">
                  <div>
                    <!--label>Tag</label-->
                    <h3>{{tag.name}}</h3>
                    <label>{{tag.count}} comments</label>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>

        <div class="resultsList -commentaryResults">
          {% include "partials/horizontal_list.twig" with list_title="Commentary" list_label=" results" more_link="/search/commentary/" items=comment_results total_count=comment_results_count no_results="No results found in the commentary." %}
        </div>
        <div class="resultsList">
          {% include "partials/horizontal_list.twig" with list_title="Source Text" list_label=" results" more_link="/search/source-texts/" items=source_text_results total_count=source_text_count no_results="No results found in the commentary source texts." %}
        </div>
        <div class="resultsList">
          {% include "partials/horizontal_list.twig" with list_title="Translation" list_label=" results" more_link="/search/translations/" items=translation_results total_count=translation_count no_results="No results found in the commentary translations." %}
        </div>
      </section>
    {% elif model == "commentary" %}
      <section class="results">
        <div class="resultsList -commentaryResults">
          {% include "partials/horizontal_list.twig" with list_title="Commentary" list_label=" results" show_all=True items=comment_results %}
        </div>
      </section>
    {% endif %}
  </div>
  {% include "partials/footer.twig" %}
{% endblock %}
