{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" with header_theme='light' %}
  <div class="authLayout">
    <div class="login">
      <div class="loginIntro">
        <h3 class="jss19 jss36">New to Alexandria?</h3>
        <p class="jss19 jss28">Create a new account here to start your edition and commentary.</p>
      </div>
      <div class="loginPrimary">
        <div class="pwdLoginForm loginPrimaryForm">
          {% if success %}
            <strong>Success.</strong>
            <a href="/login/">Try logging in.</a><br/>
          {% elif registered %}
            <strong>You've already got an account with this email address!</strong>
            <a href="/login/">Try logging in.</a><br/>
          {% else %}
            <form id="login_form" method="post" action="{% url 'sign_up' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {{ custom_user_form.as_p }}
              <label>Create Commentary?<input type="checkbox" id="create_commentary"></label>
              <div id="commentary_form">
                {{ project_form.as_p }}
              </div>
              <button class="alexandriaButton pwdLoginFormSubmit" tabindex="0" type="submit">
                Join
              </button>
            </form>
          {% endif %}
        </div>
      </div>
      <div class="loginSecondary">
        <p class="jss19 jss27">
          New to Alexandria?
          <a href="https://forms.gle/kWxKw4aNySAyftJN9" target="_blank">Request early access</a>
        </p>
        <div class=":global m1">
          <p class="jss19 jss27">Forgot your password?
            <a href="/accounts/password_reset/">Reset it</a>.</p>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.twig" %}
{% endblock %}
