{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" %}

  <div class="item">
    <div class="itemHeader">
      <h1>
        {{ text.english_title }}
        {% if text.original_title %}
          &nbsp;
          <em class="textOriginalTitle">({{ text.original_title }})</em>
        {% endif %}
      </h1>
    </div>
    <div class="itemContent">
      <div class="textImage"><img src="{{ text_image }}"></div>
      <div class="textLinks">
        <a href="/">{{ commentaries|length }}
          Commentaries</a>
        <span class="textLinksBullet"></span>
      </div>
      <div class="textReadButton">
        <a class="" tabindex="0" role="button" href="/read/{{ text.full_urn }}">
          <span class="MuiButton-label-27">Read</span>
          <span class="MuiTouchRipple-root-19"></span>
        </a>
      </div>
      <div class="itemMetadata">
        <div class="itemContentMetadataGroup">
          <div class="itemContentMetadataColumn itemContentMetadataColumnLeft">
            <h3 class="MuiTypography-root-52 MuiTypography-h3-66">Properties</h3>
          </div>
          <div class="itemContentMetadataColumn itemContentMetadataColumnRight">
            <div class="itemMetaFields">
              <div class="itemMetaField">
                <div class="itemMetaFieldLabel">
                  <span class="MuiTypography-root-52 MuiTypography-caption-62">Date</span></div>
                <div class="itemMetaFieldValue">
                  <p class="MuiTypography-root-52 MuiTypography-body2-60">{{ text_meta.date }}</p>
                </div>
              </div>
              <div class="itemMetaField">
                <div class="itemMetaFieldLabel">
                  <span class="MuiTypography-root-52 MuiTypography-caption-62">Language</span></div>
                <div class="itemMetaFieldValue">
                  <p class="MuiTypography-root-52 MuiTypography-body2-60">{{ text.language.title }}</p>
                </div>
              </div>
              <div class="itemMetaField">
                <div class="itemMetaFieldLabel">
                  <span class="MuiTypography-root-52 MuiTypography-caption-62">Location</span></div>
                <div class="itemMetaFieldValue -map">
                  <div class="br mh300 mw100 mapInput mapboxgl-map">
                    <div class="mapboxgl-canary" style="visibility: hidden;"></div>
                    <div class="mapboxgl-canvas-container">
                      <canvas class="mapboxgl-canvas" tabindex="0" aria-label="Map" width="800" height="600" style="position: absolute; width: 400px; height: 300px;"></canvas>
                      <div class="mapboxgl-marker mapboxgl-marker-anchor-center" style="transform: translate(-50%, -50%) translate(200px, 136px);">
                        <svg display="block" height="41px" width="27px" viewbox="0 0 27 41">
                          <g fill-rule="nonzero">
                            <g transform="translate(3.0, 29.0)" fill="#000000">
                              <ellipse opacity="0.04" cx="10.5" cy="5.80029008" rx="10.5" ry="5.25002273"></ellipse>
                              <ellipse opacity="0.04" cx="10.5" cy="5.80029008" rx="10.5" ry="5.25002273"></ellipse>
                              <ellipse opacity="0.04" cx="10.5" cy="5.80029008" rx="9.5" ry="4.77275007"></ellipse>
                              <ellipse opacity="0.04" cx="10.5" cy="5.80029008" rx="8.5" ry="4.29549936"></ellipse>
                              <ellipse opacity="0.04" cx="10.5" cy="5.80029008" rx="7.5" ry="3.81822308"></ellipse>
                              <ellipse opacity="0.04" cx="10.5" cy="5.80029008" rx="6.5" ry="3.34094679"></ellipse>
                              <ellipse opacity="0.04" cx="10.5" cy="5.80029008" rx="5.5" ry="2.86367051"></ellipse>
                              <ellipse opacity="0.04" cx="10.5" cy="5.80029008" rx="4.5" ry="2.38636864"></ellipse>
                            </g>
                            <g fill="#824e2e">
                              <path d="M27,13.5 C27,19.074644 20.250001,27.000002 14.75,34.500002 C14.016665,35.500004 12.983335,35.500004 12.25,34.500002 C6.7499993,27.000002 0,19.222562 0,13.5 C0,6.0441559 6.0441559,0 13.5,0 C20.955844,0 27,6.0441559 27,13.5 Z"></path>
                            </g>
                            <g opacity="0.25" fill="#000000">
                              <path
                                d="M13.5,0 C6.0441559,0 0,6.0441559 0,13.5 C0,19.222562 6.7499993,27 12.25,34.5 C13,35.522727 14.016664,35.500004 14.75,34.5 C20.250001,27 27,19.074644 27,13.5 C27,6.0441559 20.955844,0 13.5,0 Z M13.5,1 C20.415404,1 26,6.584596 26,13.5 C26,15.898657 24.495584,19.181431 22.220703,22.738281 C19.945823,26.295132 16.705119,30.142167 13.943359,33.908203 C13.743445,34.180814 13.612715,34.322738 13.5,34.441406 C13.387285,34.322738 13.256555,34.180814 13.056641,33.908203 C10.284481,30.127985 7.4148684,26.314159 5.015625,22.773438 C2.6163816,19.232715 1,15.953538 1,13.5 C1,6.584596 6.584596,1 13.5,1 Z"></path>
                            </g>
                            <g transform="translate(6.0, 7.0)" fill="#FFFFFF"></g>
                            <g transform="translate(8.0, 8.0)">
                              <circle fill="#000000" opacity="0.25" cx="5.5" cy="5.5" r="5.4999962"></circle>
                              <circle fill="#FFFFFF" cx="5.5" cy="5.5" r="5.4999962"></circle>
                            </g>
                          </g>
                        </svg>
                      </div>
                    </div>
                    <div class="mapboxgl-control-container">
                      <div class="mapboxgl-ctrl-top-left"></div>
                      <div class="mapboxgl-ctrl-top-right"></div>
                      <div class="mapboxgl-ctrl-bottom-left">
                        <div class="mapboxgl-ctrl" style="display: block;">
                          <a class="mapboxgl-ctrl-logo" target="_blank" rel="noopener nofollow" href="https://www.mapbox.com/" aria-label="Mapbox logo"></a>
                        </div>
                      </div>
                      <div class="mapboxgl-ctrl-bottom-right">
                        <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-compact">
                          <div class="mapboxgl-ctrl-attrib-inner">
                            <a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a>
                            <a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap</a>
                            <a
                              class="mapbox-improve-map"
                              href="https://apps.mapbox.com/feedback/?owner=mapbox&amp;id=streets-v11&amp;access_token=pk.eyJ1IjoiYXJjaGltZWRlcy1kaWdpdGFsIiwiYSI6ImNqeWozaGtsMTAxeWkzZXFuanUwcnVucmEifQ.E26ZUZc6MyZNHzM3cz8UOQ"
                              target="_blank"
                              rel="noopener nofollow">Improve this map</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="citedInListsHeader">Cited In</h3>
      <section>
        <div class="horizontalList">
          <span class="MuiTypography-root-52 MuiTypography-overline-72 horizontalListTitle">{{ commentaries|length }}
            Commentaries</span>
          <div class="horizontalListButton">
            <a class="MuiButtonBase-root-7 MuiButton-root-26 MuiButton-text-28 MuiButton-flat-31" tabindex="0" role="button" href="/commentaries/browse">
              <span class="MuiTouchRipple-root-19"></span></a>
          </div>
          <div class="horizontalListItems">
            {% for commentary in commentaries %}
              <div class="CollectionCard horizontalListItem">
                <a href="{{ commentary.hostname }}">
                  <div class="CollectionThumbnail" style="background-image: url(&quot;//iiif.orphe.us/hector.jpg/square/350,/0/default.jpg&quot;);"></div>
                  <div class="CollectionCardInner">
                    <p class="MuiTypography-root-52 MuiTypography-body1-61 CollectionCardTitle">{{ commentary.title }}</p>
                    <span class="MuiTypography-root-52 MuiTypography-caption-62 CollectionCardDescription">
                      {% for commenter in commentary.commenters.all %}
                        {{ commenter.first_name }}
                        {{ commenter.last_name }}
                        {% if not forloop.last %},
                        {% endif %}
                      {% endfor %}
                    </span>
                    <span class="MuiTypography-root-52 MuiTypography-caption-62 CollectionCardMeta">{{ commentary.comment_set.count }}
                      comments</span></div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
    {% include "partials/footer.twig" %}
  {% endblock %}
