{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" %}

  <div class="archive">
    <div class="itemHeader">
      <h1>
        {{ text.english_title }}
        {% if text.original_title and text.english_title != text.original_title %}
          <em class="textOriginalTitle">
            ({{ text.original_title }})
          </em>
        {% endif %}
      </h1>
    </div>
    <div class="itemContent">
      <div
        class="textImage"
        style="background-image:url('{{ text_image }}')"
      >
      </div>
      {% if commentaries|length or posts|length %}
        <div class="textLinks">
          <a href="/">
            {{ commentaries|length }} Commentaries
          </a>
          <span class="textLinksBullet"></span>
          <a href="/">
            {{ posts|length }} Posts
          </a>
        </div>
      {% endif %}
      {% if text_meta.description %}
        <div class="textDescription">
          {% include 'partials/description_read_more.twig' with description=text_meta.description %}
        </div>
      {% endif %}
      <div class="textReadButton">
        <a class="alexandriaButton" tabindex="0" role="button" href="/read/{{ text.full_urn }}">
          <span class="MuiButton-label-27">Read text</span>
          <span class="MuiTouchRipple-root-19"></span>
        </a>
      </div>
    </div>
    <section>
      <h2 class="archiveSectionTitle">Editions / Translations</h2>
      <div class="horizontalList editionList">
        <span class="MuiTypography-root-52 MuiTypography-overline-72 horizontalListTitle">{{ texts|length }}
          Versions</span>
        <div class="horizontalListButton">
          <a class="MuiButtonBase-root-7 MuiButton-root-26 MuiButton-text-28 MuiButton-flat-31" tabindex="0" role="button" href="/commentaries/browse">
            <span class="MuiTouchRipple-root-19"></span></a>
        </div>
        <div class="horizontalListItems">
            {% for text in texts %}
              <div class="CollectionCard horizontalListItem">
                <a href="/read/{{text.full_urn}}">
                  <div class="editionThumbnail">
                    <div class="CollectionThumbnail" style="background-image: url(&quot;{{ text.text_meta.cover_image.url|default:'/static/img/default.jpg' }}&quot;);"></div>
                    <div class="editionGradient"></div>
                    <span class="editionType">
                     {{ text.work_type }}
                    </span>
                  </div>
                      <div class="CollectionCardInner">
                          <p class="MuiTypography-root-26 MuiTypography-body1-35 CollectionCardTitle">
                            {{text.english_title}}
                          </p>
                          {% if text.description %}
                            <span class="MuiTypography-root-26 MuiTypography-caption-36 CollectionCardDescription">
                              {{ text.description }}
                            </span>
                          {% endif %}
                      </div>
                  </a>
              </div>
            {% endfor %}
        </div>
      </div>
    </section>
    <section>
      <h2 class="archiveSectionTitle">Commentaries</h2>
      <div class="horizontalList">
        <span class="MuiTypography-root-52 MuiTypography-overline-72 horizontalListTitle">{{ commentaries|length }}
          Commentaries</span>
        <div class="horizontalListItems">
          {% for commentary in commentaries %}
            <div class="CollectionCard horizontalListItem">
              <a href="{{ commentary.hotname }}">
                <div class="CollectionThumbnail" style="background-image: url(&quot; {{commentary.cover_image|default:'/static/img/default.jpg' }}&quot;);"></div>
                <div class="CollectionCardInner">
                  <p class="MuiTypography-root-52 MuiTypography-body1-61 CollectionCardTitle">{{ commentary.title }}</p>
                  <span class="MuiTypography-root-52 MuiTypography-caption-62 CollectionCardDescription">
                    {% for commenter in commentary.commenters.all %}
                      {{ commenter.first_name }}
                      {{ commenter.last_name }}
                      {% if not forloop.last %},
                      {% endif %}
                    {% endfor %}
                  </span>
                  <span class="MuiTypography-root-52 MuiTypography-caption-62 CollectionCardMeta">{{ commentary.comment_set.count }}
                    comments</span></div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
  {% include "partials/footer.twig" %}
{% endblock %}
